.button {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    padding: 0.75em 0px;
    font-weight: bold;
    transition: background-color 0.15s;
    margin: 0.5em 0px;
}

.b-blue {
    background-color: #137;
    color: #EEE;
}

.b-blue:hover {
    background-color: #025;
    color: #FFF;
}

.b-purple {
    background-color: #717;
    color: #EEE;
}

.b-purple:hover {
    background-color: #515;
    color: #FFF;
}

.b-light {
    background-color: #CCC;
    color: #222;
}

.b-light:hover {
    background-color: #FFF;
    color: #000;
}

.b-dark {
    background-color: #222;
    color: #DDD;
}

.b-dark:hover {
    background-color: #171717;
    color: #FFF;
}
