#carousel {
    margin-top: 2em;
    background-color: black;
    display: block;
    height: 100px;
    border-radius: 2px;
}

.car-item {
    display: block;
    opacity: 0.0;
    transition: opacity 0.25s;
    position: absolute;
    border-radius: 2px;
}

.car-item img {
    width: 100%;
    filter: brightness(66%);
    border-radius: 2px;
}

/* En movil, quita los bordes redondeados */
@media only screen and (max-width: 1100px) {
    #carousel {
        border-radius: 0px;
    }

    .car-item {
        border-radius: 0px;
    }

    .car-item img {
        border-radius: 0px;
    }
}

.car-item h6 {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    z-index: 100;
    transition: background-color 0.25s;
    transition: color 0.25s;
}

.car-item h6:hover {
    color: #100910;
    background-color: #EEE;
}

/* En movil, reduce el texto */
@media only screen and (max-width: 1100px) {
    .car-item h6 {
        font-size: 2em;
    }
}