/* Imagen oscura con texto blanco encima */
.cont-img-centertext {
    position: relative;
    margin: 2em 0em;
}

.cont-img-centertext img {
    width: 100%;
    filter: brightness(50%);
    border-radius: 2px;
}

.cont-img-centertext h6 {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

/* En movil, reduce el texto */
@media only screen and (max-width: 1100px) {
    .cont-img-centertext h6 {
        font-size: 2em;
    }
}


/* Combo imagen-texto */
.cont-img-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #090909;
    color: white;
    border-radius: 2px;
    margin: 2em 0em;
}

.cont-img-text img {
    width: 50%;
    border-radius: 2px;
}

.cont-img-text div {
    width: 50%;
    text-align: center;
}

.cont-img-text p {
    margin: 1.5em;
    font-size: 1.1em;
}

.cont-img-text .button {
    width: 90%;
    margin: 2em auto;
}

/* En movil se pone uno encima del otro */
@media only screen and (max-width: 1100px) {
    .cont-img-text img {
        width: 100%;
    }

    .cont-img-text div {
        width: 100%;
    }
}


/* Combo de dos imagen con texto blanco encima */
.cont-triple-imgct {
    display: flex;
    flex-wrap: wrap;
}
.cont-triple-imgct .part {
    width: 33%;
    margin: 12pt 0px;
    transition: font-size 0.25s;
}

/* En movil, los cuadrados toman anchura completa */
@media only screen and (max-width: 1100px) {
    .cont-triple-imgct .part {
        width: 100%;
    }
}

.cont-triple-imgct .part .cont-img-centertext {
    margin: 0em 6pt;
}

.cont-triple-imgct .part:hover {
    font-size: 1.1em;
}
