body {
    background-color: #090609;
}

.nav-link-button:hover {
    color: #C5C;
}

#nav-socials a:hover {
    color: #B7B;
}

h1 {
    color: #C7C;
}

h2 {
    color: #DBD;
}

h3 {
    color: #CAC;
}

