/* Aspectos generales de la pagina */

body {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #020307;
    color: #EEE;
}

/* Links */
a {
    color: #EEE;
    transition: color 0.25s;
    text-decoration: none;
}

a:hover {
    color: #444;
}

/* Tamanyo de los iconos de Fontawesome */
.fas {
    margin-right: 0.4em;
}

/* Interlineado de los parrafos */
p {
    line-height: 1.5em;
}


/* Padding responsive de contenido. Margen lateral si estamos en escritorio,
   nada si en movil */
@media only screen and (min-width: 1200px) {
    nav #nav-content {
        width: 1200px;
        margin: 0 auto;
    }

    main {
        width: 1200px;
        margin: 0 auto;
    }

    footer #footer-content {
        width: 1200px;
        margin: 0 auto;
    }
}


/* Barra de navegacion */

/* Lo basico */
nav {
    background: #171717;
}

nav #nav-content {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: 0.75em 1em;
    user-select: none;
    transition: background-color 0.25s;
    transition: color 0.25s;
    opacity: 0.8;
}

/* Los botones en escritorio son mas altos */
@media only screen and (min-width: 1100px) {
    .nav-link {
        padding: 1.5em;
    }
}

.nav-link-button:hover {
    color: #47C;
    background-color: #222;
}

#nav-logo {
    text-align: center;
}

#nav-logo img {
    width: 10em;
    padding: 0.5em 0.5em;
}

#nav-socials {
    margin-left: auto;
}

#nav-socials a {
    padding: 0px 0.5em;
    font-size: 1.25em;
}

#nav-socials a:hover {
    color: #47C;
}

#nav-handle {
    padding: 0.75em 1em;
    border-color: #CCC;
    border-width: 1px;
    border-top-style: solid;
    user-select: none;
    display: none;
}

/* Los enlaces de la barra cogen anchura completa si estamos en movil (hasta
   1100px de ancho, el flex se cambia a arriba abajo, y alguna cosa mas supongo
*/
@media only screen and (max-width: 1100px) {
    nav #nav-content {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .nav-link {
        width: 85%;
    }

    #nav-logo {
        width: 85%;
    }

    #nav-handle {
        width: 85%;
        display: block;
    }
}


/* Contenido principal */
article {
    background-color: #111;
    margin: 1em 0px;
    border-radius: 2px;
}

/* El contenido solo tiene margen cuando estamos en escritorio */
@media only screen and (max-width: 1100px) {
    article {
        margin: 0px;
    }
}

/* Y solo tiene bordes redondeados si estamos en escritorio grande */
@media only screen and (max-width: 1200px) {
    article {
        border-radius: 0px;
    }
}

section {
    padding: 2em;
}

/* En movil, reduce el padding lateral para que el contenido se vea mejor */
@media only screen and (max-width: 1100px) {
    section {
        padding: 2em 1em;
    }
}


/* Titulos */
h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 28pt;
    color: #58C;
    margin: 0px;
    margin-bottom: 1em;
}

h2 {
    font-size: 20pt;
    color: #37C;
    margin: 0px;
    margin: 1em 0em;
}

h3 {
    font-size: 16pt;
    color: #36A;
    margin: 0px;
    margin: 1em 0em;
}

/* Separador de secciones */
hr {
    margin: 0px;
    border: none;
    height: 1px;
    background-color: #222;
}


/* Pie de pagina */
footer {
    background-color: #000;
}
footer #footer-content {
    text-align: center;
    padding: 2em 0px 2.5em 0px;
    color: #777;
    font-size: 0.85em;
}
